@media (max-width:1300px )
    img.mouse
        width 7% !important
    .cloud_content
        margin-top: 35% !important
@media (max-width:1100px )
    img.mouse
        width 7% !important
    div.cloud_background
        width 65vw!important
        background-size 88% !important
        div.cloud_content
            margin-right auto !important
@media (max-width:900px )
   img.mouse
        width 7% !important 
    div.cloud_background
        width 100vw!important
        background-size 70% !important
@media (max-width:800px )
    img.mouse
        width 7% !important 
    div.cloud_background
        width 100vw!important
        background-size 75% !important
@media (max-width:700px )
    img.mouse
        width 7% !important 
    div.cloud_background
        width 100vw!important
        background-size 89% !important
@media (max-width:650px )
    img.mouse
        width 7% !important 
    div.cloud_background
        width 100vw!important
        background-size 100% !important


@media (max-width:550px )
    img.mouse
        width 20% !important
        transform translateX(80%) !important
    .findmejs
        padding-bottom 60%!important
    .planet
        display: flex; 
        justify-content: center; 
        opacity: 1;
    div.cloud_background
        width 100vw!important
        background-size 135% !important
        div.cloud_content
            width 90vw !important
            margin-top 50% !important
            .about
                width 90vw!important
                .me-text
                    p 
                        width 90vw!important
            .logo-container
                width 200vw !important
                .logo
                    padding-right 13.5% !important   
                .logo-text
                    padding-right 14% !important
                    span 
                        width max-content !important
    .project-container
        .close
            width 25% !important
            left 90% !important
    div.project_content
        height 80vh !important
        transform translateY(15%) !important
        width 100% !important
        .content 
            top 0%!important
        .pagination
            height 40px!important            
    footer 
        bottom -90vh !important
// media (min-width:2000px ) and (max-height:1200px)
//     img.mouse
//         transform translateX(-10%) !important
//     .inner 
//         div.cloud 
//             height 230vh !important
//             background-size 900px !important
//             div.cloud_content
//                 transform translateY(-30vh) translateX(5vw)!important
//                 width 45vw !important
//         div.work
//             transform translateY(-80%) !important

// @media (min-width:2000px ) and (max-height:1100px)
//     img.mouse
//         transform translateX(-10%) !important
//     .inner 
//         div.cloud 
//             height 230vh !important
//             background-size 900px !important
//             div.cloud_content
//                 transform translateY(-15vh) translateX(2vw)!important
//                 width 40vw !important
//         div.work
//             transform translateY(-60%) !important
// @media (min-width:1700px )
//     img.mouse
//         transform translateX(-10%) !important
//     .inner 
//         div.cloud 
//             height 230vh !important
//             background-size 800px !important
//             div.cloud_content
//                 transform translateY(-40vh) translateX(4vw)!important
//                 width 40vw !important
//         div.work
//             transform translateY(-90%) !important

// @media (min-width:1350px ) and (min-height: 900px)
//     img.mouse
//         transform translateX(-10%) !important
//     .inner 
//         div.cloud 
//             height 230vh !important
//             background-size 800px !important
//             div.cloud_content
//                 transform translateY(-55%)!important
//                 width 40vw !important
//         div.work
//             transform translateY(-80vh) !important



// @media (max-width: 1200px)
//     img.mouse
//         width 10% !important
//     div.cloud_background
//         .cloud_content
//             margin-top: 40% !important
//     @media (max-width: 1000px)
//         img.mouse
//             width 10% !important 
//         div.cloud_background
//             width 60%
//         div.cloud_background
//             width 70% !important
//             div.cloud_content
//                 margin-top: 40%!important
//                 .about
//                      width 45vw !important
//                     .me-text
//                         p 
//                            width 55vw !important 
//                 .logo-container
//                     width 100vw !important 
//                     .logo
//                         width 70px
            
//         div.cloud 
//             height 200vh !important
//             div.cloud_content
//                 width 55vw !important
//                 .about
//                     width 55vw !important
//                     .me-text
//                         p 
//                            width 55vw !important 
//                 .logo-container
//                     width 100vw !important 
//                     .logo
//                         width 70px
//         .project_content
//             height 40vh !important
//             transform translateY(70%) !important
//             width 100% !important
//             .close
//                 width 25% !important
//             .discover
//                 height 9% !important
//             h4
//                 font-size 1em!important
              
//             p 
//                 font-size 0.9em !important
//         @media (max-width: 500px) and (max-height:900px)
//             img.mouse
//                 width 20% !important
//                 transform translateX(80%) !important
//             div.cloud_background
//                 width 100vw!important
//                 div.cloud_content
//                     width 90vw !important
//                     .about
//                         width 90vw!important
//                         .me-text
//                             p 
//                                 width 90vw!important
//                     .logo-container
//                         width 200vw !important
//                         .logo
//                             padding-right 13.5% !important   
//                         .logo-text
//                             padding-right 14% !important
//                             span 
//                                 width max-content !important
//             .project-container
//                 .close
//                     width 25% !important
//                     left 90% !important
//             div.project_content
//                 height 80vh !important
//                 transform translateY(15%) !important
//                 width 100% !important
//                 .content 
//                     top 0%!important
//                 .pagination
//                     height 40px!important            
//             footer 
//                 bottom -90vh !important
//             @media (max-width: 500px) and (max-height:750px)
//                 div.cloud 
//                     height 175vh!important
//                     background-size 600px !important
//                 .project-container
//                     overflow-y scroll
//                     overflow-x hidden
//                     .slider
//                         height 160px !important
//                 @media (max-width: 500px) and (max-height:670px)
//                     div.cloud 
//                         height 190vh !important
//                     footer 
//                         bottom -110vh !important
//                     @media (max-width: 400px) and (max-height:600px)
//                         div.cloud 
//                             height 220vh !important
//                         footer 
//                             bottom -150vh !important
//                     @media (max-width: 370px) and (max-height:700px)
//                         footer 
//                             bottom -120vh !important


        
          
